<nav class="navbar navbar-expand-md navbar-dark bg-dark">

  <a class="navbar-brand" href="/">My Chat</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">

        <a class="nav-link" (click)="goToSignUp()">Sign-Up</a>

      </li>

    </ul>

  </div>

</nav>

<div class="row p-0 m-0">

  <div class="col-sm"></div>

  <div class="col-sm p-5">

    <h2 class="form-signin-heading">Sign In To Track Issue</h2>

    <br>


    <span>Email: </span>

    <label for="inputEmail" class="sr-only">Email address</label>

    <input type="email" id="inputEmail" #emailId="ngModel" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="email" placeholder="Email address" required>

    <div [hidden]="emailId.valid || emailId.pristine" class="alert alert-danger">
      <div *ngIf="emailId.errors?.pattern">
       Warning : Email is invalid!

      </div>
      <div *ngIf="emailId.errors?.required">
       Warning : Email is required!
      </div>
    </div>
    <br>


    <button class="btn btn-lg btn-primary btn-block" type="button" (click)="resetPassword()">Reset</button>


  </div>

  <div class="col-sm"></div>

</div>

