<button class="btn btn-primary float-right" (click)="editIssue()">Edit</button>

<h3 class="mb-3">{{ issue.title }}</h3>
<div class="inlinerow">
  <div class="inline">
    <label class="label" for="flag">Flag: </label>
    <span class="value">{{ issue.flag ? issue.flag : "-" }}</span>
  </div>
  <div class="inline">
    <label class="label" for="status">Status: </label>
    <span class="value">{{ issue.status ? issue.status : "-" }}</span>
  </div>
  <div class="inline">
    <label class="label" for="assignedTo">Assigned To: </label>
    <span class="value">{{
      issue.assignee.firstName
        ? issue.assignee.firstName + " " + issue.assignee.lastName
        : "-"
    }}</span>
  </div>
  <div></div>
</div>

<div class="form-group">
  <label class="label" for="description">Description </label>
  <div class="border border-default p-3" [innerHTML]="issue.description"></div>
</div>
<label class="label" for="status">Comments </label>
<div class=" p-3 card bg-light rounded box-shadow">
  <div class="">
    <textarea class="form-control" [(ngModel)]="commentText"></textarea>
    <button class="btn btn-primary mt-2" type="submit" (click)="addComment()">
      Add Comment
    </button>
  </div>
  <hr />
  <div class="media text-muted pt-3" *ngFor="let comment of comments">
    <div class="image-block"></div>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark"
        >@{{ comment.user.firstName + " " + comment.user.lastName }}
        <label class=" float-right">
          {{ comment.commentedOn | date: "dd/MM/yyyy" }}</label
        >
      </strong>
      {{ comment.comment }}
    </p>
  </div>
</div>
