<div class="row p-0 m-0">
  <div class="col-sm justify">
    <img src="http://www.online-issues.com/files/2011/09/issueTracking.jpg" />
  </div>

  <div class="col-sm p-5">
    <h2 class="form-signin-heading">Sign Up</h2>

    <br />

    <span>FirstName: </span>

    <label for="inputFirstName" class="sr-only">FirstName</label>

    <input
      type="text"
      id="inputFirstName"
      class="form-control"
      [(ngModel)]="firstName"
      placeholder="FirstName"
      required
      autofocus
    />

    <br />

    <span>LastName: </span>

    <label for="inputLastName" class="sr-only">LastName</label>

    <input
      type="text"
      id="inputLastName"
      class="form-control"
      [(ngModel)]="lastName"
      placeholder="LastName"
      required
    />

    <br />

    <span>Email: </span>

    <label for="inputEmail" class="sr-only">Email address</label>

    <input
      type="email"
      id="inputEmail"
      class="form-control"
      [(ngModel)]="email"
      placeholder="Email address"
      required
    />

    <br />

    <span>Password: </span>

    <label for="inputPassword" class="sr-only">Password</label>

    <input
      type="password"
      id="inputPassword"
      class="form-control"
      [(ngModel)]="password"
      placeholder="Password"
      required
    />

    <br />

    <button
      class="btn btn-lg btn-primary btn-block"
      type="button"
      (click)="signupFunction()"
    >
      Sign Up
    </button>
    <a
      class="nav-link float-right"
      (click)="goToSignIn()"
      style="cursor:pointer"
      >Have an account? Sign In</a
    >
  </div>
</div>
